{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
    </head>
    <body>
<div id="header">
<table width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td class="green" width="20%">&nbsp;</td>
      <td width="60%">
        <h1>Pizza &amp; Subs</h1>
      </td>
      <td class="red" width="20%">&nbsp;</td>
    </tr>
  </tbody>
</table>
</div>
    <div class="menu">
      <a href="{% url 'index' %}">Home</a> 
      <a href="{% url 'menu' %}">Menu</a> 
      <a href="{% url 'cart' %}">Cart</a> 
      <a href="">Contacts</a> 
      <a href="{% url 'orders' %}">My orders</a> 
    </div>
{% block body %}
{% endblock %}
</body>
</html>
