{% extends "base.html" %}

{% block body %}

<div id="main"><table width="100%">
  <tbody>
    <tr>
      <td width="50%">
    <div class="callout">
    <h2>Our Menu</h2>
<div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>  

<form method="post" action="{% url 'menu' %}">
    {% csrf_token %}
<table width="100%" class="foodmenu">
        <tbody>
          <tr>
        <th colspan="3"><a name="regular_pizza">Regular Pizza</a></th>
          </tr>
          <tr>
        <td></td>
        <td>Small<input type="checkbox" name="regular_pizza_small" value="small"></td>
        <td>Large<input type="checkbox" name="regular_pizza_large" value="large"></td>
          </tr>       <tr>
        <td width="50%">Cheese</td>
        <td width="25%">12.20</td>
        <td width="25">17.45</td>
          </tr>       <tr>
        <td width="50%">1 topping
          <select name="topping_1">
            <option value="">----------</option>
            <option value="pepperoni">Pepperoni</option>
            <option value="sausage">Sausage</option>
            <option value="mushrooms">Mushrooms</option>
            <option value="onions">Onions</option>
            <option value="ham">Ham</option>
            <option value="canadian_bacon">Canadian Bacon</option>
            <option value="pineapple">Pineapple</option>
            <option value="eggplant">Eggplant</option>
            <option value="tomato_basil">Tomato & Basil</option>
            <option value="green_peppers">Green Peppers</option>
            <option value="hamburger">Hamburger</option>
            <option value="spinach">Spinach</option>
            <option value="artichoke">Artichoke</option>
            <option value="buffalo_chicke">Buffalo Chicke</option>
            <option value="barbecue_chicken">Barbecue Chicken</option>
            <option value="anchovies">Anchovies</option>
            <option value="black_olives">Black Olives</option>
            <option value="fresh_garlic">Fresh Garlic</option>
            <option value="zucchini">Zucchini</option>
          </select>
        </td>
        <td width="25%">13.20</td>
        <td width="25">19.45</td>
          </tr>       <tr>
        <td width="50%">2 toppings</td>
        <td width="25%">14.70</td>
        <td width="25">21.45</td>
          </tr>       <tr>
        <td width="50%">3 toppings</td>
        <td width="25%">15.70</td>
        <td width="25">23.45</td>
          </tr>       <tr>
        <td width="50%">Special</td>
        <td width="25%">17.25</td>
        <td width="25">25.45</td>
          </tr>     </tbody>
      </table>
<input type="submit" value="Add to cart">
</form>
<div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>    <table width="100%" class="foodmenu">
        <tbody>
          <tr>
        <th colspan="3"><a name="sicilian_pizza">Sicilian Pizza</a></th>
          </tr>
          <tr>
        <td></td>
        <td>Small</td>
        <td>Large</td>
          </tr>       <tr>
        <td width="50%">Cheese</td>
        <td width="25%">23.45</td>
        <td width="25">37.70</td>
          </tr>       <tr>
        <td width="50%">1 item</td>
        <td width="25%">25.45</td>
        <td width="25">39.70</td>
          </tr>       <tr>
        <td width="50%">2 items</td>
        <td width="25%">27.45</td>
        <td width="25">41.70</td>
          </tr>       <tr>
        <td width="50%">3 items</td>
        <td width="25%">28.45</td>
        <td width="25">43.70</td>
          </tr>       <tr>
        <td width="50%">Special</td>
        <td width="25%">29.45</td>
        <td width="25">44.70</td>
          </tr>     </tbody>
      </table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>    <table width="100%" class="toppingmenu">
        <tbody>
          <tr>
        <th colspan="2"><a name="toppings">Toppings</a></th>
          </tr>       <tr>
        <td width="50%">Pepperoni</td>
          </tr>       <tr>
        <td width="50%">Sausage</td>
                     </tr>        <tr>
        <td width="50%">Mushrooms</td>
                     </tr>        <tr>
        <td width="50%">Onions</td>
          </tr>       <tr>
        <td width="50%">Ham</td>
          </tr>       <tr>
        <td width="50%">Canadian Bacon</td>
          </tr>       <tr>
        <td width="50%">Pineapple</td>
          </tr>       <tr>
        <td width="50%">Eggplant</td>
          </tr>       <tr>
        <td width="50%">Tomato &amp; Basil</td>
          </tr>       <tr>
        <td width="50%">Green Peppers</td>
          </tr>       <tr>
        <td width="50%">Hamburger</td>
          </tr>       <tr>
        <td width="50%">Spinach</td>
          </tr>       <tr>
        <td width="50%">Artichoke</td>
                     </tr>        <tr>
        <td width="50%">Buffalo Chicken</td>
                      </tr>       <tr>
        <td width="50%">Barbecue Chicken</td>
          </tr>       <tr>
        <td width="50%">Anchovies</td>
          </tr>       <tr>
        <td width="50%">Black Olives</td>
          </tr>       <tr>
        <td width="50%">Fresh Garlic</td>
          </tr>       <tr>
        <td width="50%">Zucchini</td>
          </tr>     </tbody>
      </table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>    <table width="100%" class="foodmenu">
        <tbody>
          <tr>
        <th colspan="3"><a name="subs">Subs</a></th>
          </tr>
          <tr>
        <td></td>
        <td>Small</td>
        <td>Large</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Cheese</td>
        <td width="25%">6.50</td>
        <td width="25">7.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Italian</td>
        <td width="25%">6.50</td>
        <td width="25">7.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Ham + Cheese</td>
        <td width="25%">6.50</td>
        <td width="25">7.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Meatball</td>
        <td width="25%">6.50</td>
        <td width="25">7.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Tuna</td>
        <td width="25%">6.50</td>
        <td width="25">7.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Turkey</td>
        <td width="25%">7.50</td>
        <td width="25">8.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Chicken Parmigiana</td>
        <td width="25%">7.50</td>
        <td width="25">8.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Eggplant Parmigiana</td>
        <td width="25%">6.50</td>
        <td width="25">7.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Steak</td>
        <td width="25%">6.50</td>
        <td width="25">7.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Steak + Cheese</td>
        <td width="25%">6.95</td>
        <td width="25">8.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">+ Mushrooms</td>
        <td width="25%">+0.50</td>
        <td width="25">+0.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">+ Green Peppers</td>
        <td width="25%">+0.50</td>
        <td width="25">+0.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">+ Onions</td>
        <td width="25%">+0.50</td>
        <td width="25">+0.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Sausage, Peppers & Onions</td>
        <td width="25%"></td>
        <td width="25">8.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Hamburger</td>
        <td width="25%">4.60</td>
        <td width="25">6.95</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Cheeseburger</td>
        <td width="25%">5.10</td>
        <td width="25">7.45</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Fried Chicken</td>
        <td width="25%">6.95</td>
        <td width="25">8.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Veggie</td>
        <td width="25%">6.95</td>
        <td width="25">8.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Extra Cheese on any sub</td>
        <td width="25%">+0.50</td>
        <td width="25">+0.50</td>
          </tr>     </tbody>
      </table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>    <table width="100%" class="foodmenu">
        <tbody>
          <tr>
        <th colspan="3"><a name="pasta">Pasta</a></th>
          </tr>
          <tr>
        <td></td>
        <td> </td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Baked Ziti w/Mozzarella</td>
        <td width="25%">6.50</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Baked Ziti w/Meatballs</td>
        <td width="25%">8.75</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Baked Ziti w/Chicken</td>
        <td width="25%">9.75</td>
          </tr>     </tbody>
      </table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>    <table width="100%" class="foodmenu">
        <tbody>
          <tr>
        <th colspan="3"><a name="salad">Salads</a></th>
          </tr>
          <tr>
        <td></td>
        <td></td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Garden Salad</td>
        <td width="25%">6.25</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Greek Salad</td>
        <td width="25%">8.25</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Antipasto</td>
        <td width="25%">8.25</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Salad w/Tuna</td>
        <td width="25%">8.25</td>
          </tr>     </tbody>
      </table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>    <table width="100%" class="foodmenu">
        <tbody>
          <tr>
        <th colspan="3"><a name="dinner">Dinner Platters</a></th>
          </tr>
          <tr>
        <td></td>
        <td></td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Garden Salad</td>
        <td width="25%">Small  $35.00  Large  $60.00</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Greek Salad</td>
        <td width="25%">Small $45.00  Large  $70.00</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Antipasto</td>
        <td width="25%">Small $45.00 Large $70.00</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Baked Ziti</td>
        <td width="25%">Small $35.00 Large $60.00</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Meatball Parm</td>
        <td width="25%">Small $45.00 Large $70.00</td>
          </tr>       <tr>
        <td style="text-align: left;" width="50%">Chicken Parm</td>
        <td width="25%">Small $45.00 Large $80.00</td>
          </tr>     </tbody>
      </table><div class="internalmenunav">
<a href="#regular_pizza">Regular Pizza</a> |
<a href="#sicilian_pizza">Sicilian Pizza</a> |
<a href="#toppings">Toppings</a> |
<a href="#subs">Subs</a> |
<a href="#pasta">Pasta</a> |
<a href="#salad">Salad</a> |
<a href="#dinner">Dinner Platters</a> 
</div>  </div>
      </td>
      
      <td>
      </td>
    </tr>
  </tbody>
</table>

</div>
{% endblock %}