{% extends "base.html" %}

{% block body %}
<div id="main">
  <table width="100%">
  <tbody>
    <tr>
    <td width="60%">
    <div class="callout"> Hello {{ username }}!
    <h2>Our Menu</h2>
    <table width="100%" border=1 class="foodmenu">
      <caption><b><a name="regular_pizza">Regular Pizza</a></b></caption>
        <tr>
            <td width="70%"><b>Sort</b></td>
            <td width="10%"><b>Size</b></td>
            <td width="10%"><b>Price</b></td>
        </tr>
        {% for item in items %}
        {% if item.name == "Regular Pizza" %}
        <form method="post" action="{% url 'menu' %}">
        {% csrf_token %}
        <tr>
          <td width="50%">{{ item.sort }}</br>
            {% if item.sort in " 1 topping, 2 toppings, 3 toppings, Special" %} 
            <select name="topping_1">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
            {% if item.sort in "2 toppings, 3 toppings, Special" %} 
            <select name="topping_2">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
            {% if item.sort in "3 toppings, Special" %} 
            <select name="topping_3">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
            {% if item.sort == " Special" %} 
            <select name="topping_4">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
          </td>
          <td width="10%">{{ item.size }}</td>
          <td width="10%">{{ item.price }}$</td>
          <td width="10%">
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="submit" value="Add to cart">
          </td>
        </tr>
        </form>
        {% endif %}
        {% endfor %}           
    </table>
    <div class="internalmenunav">
      <a href="#regular_pizza">Regular Pizza</a> |
      <a href="#sicilian_pizza">Sicilian Pizza</a> |
      <a href="#toppings">Toppings</a> |
      <a href="#subs">Subs</a> |
      <a href="#pasta">Pasta</a> |
      <a href="#salad">Salad</a> |
      <a href="#dinner">Dinner Platters</a> 
    </div> 
    <table width="100%" border=1 class="foodmenu">
      <caption><b><a name="sicilian_pizza">Sicilian Pizza</a></b></caption>
        <tr>
            <td width="70%"><b>Sort</b></td>
            <td width="10%"><b>Size</b></td>
            <td width="10%"><b>Price</b></td>
        </tr>
        {% for item in items %}
        {% if item.name == "Sicilian Pizza" %}
        <form method="post" action="{% url 'menu' %}">
        {% csrf_token %}
        <tr>
          <td width="70%">{{ item.sort }}</br>
            {% if item.sort in " 1 topping, 2 toppings, 3 toppings, Special" %} 
            <select name="topping_1">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
            {% if item.sort in " 2 toppings, 3 toppings, Special" %} 
            <select name="topping_2">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
            {% if item.sort in " 3 toppings, Special" %} 
            <select name="topping_3">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
            {% if item.sort == "Special" %} 
            <select name="topping_4">
              <option value="">----------</option>
              <option value="pepperoni">Pepperoni</option>
              <option value="sausage">Sausage</option>
              <option value="mushrooms">Mushrooms</option>
              <option value="onions">Onions</option>
              <option value="ham">Ham</option>
              <option value="canadian_bacon">Canadian Bacon</option>
              <option value="pineapple">Pineapple</option>
              <option value="eggplant">Eggplant</option>
              <option value="tomato_basil">Tomato & Basil</option>
              <option value="green_peppers">Green Peppers</option>
              <option value="hamburger">Hamburger</option>
              <option value="spinach">Spinach</option>
              <option value="artichoke">Artichoke</option>
              <option value="buffalo_chicke">Buffalo Chicke</option>
              <option value="barbecue_chicken">Barbecue Chicken</option>
              <option value="anchovies">Anchovies</option>
              <option value="black_olives">Black Olives</option>
              <option value="fresh_garlic">Fresh Garlic</option>
              <option value="zucchini">Zucchini</option>
            </select>
            {% endif %}
          </td>
          <td width="10%">{{ item.size }}</td>
          <td width="10%">{{ item.price }}$</td>
          <td width="10%">
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="submit" value="Add to cart">
          </td>
        </tr>
        </form>
        {% endif %}
        {% endfor %}           
    </table>
    <div class="internalmenunav">
      <a href="#regular_pizza">Regular Pizza</a> |
      <a href="#sicilian_pizza">Sicilian Pizza</a> |
      <a href="#toppings">Toppings</a> |
      <a href="#subs">Subs</a> |
      <a href="#pasta">Pasta</a> |
      <a href="#salad">Salad</a> |
      <a href="#dinner">Dinner Platters</a> 
    </div> 
    <table width="100%" class="toppingmenu">
        <tbody>
          <tr>
            <th colspan="2"><a name="toppings">Toppings</a></th>
          </tr>       
          <tr>
            <td width="50%">Pepperoni</td>
          </tr>       
          <tr>
            <td width="50%">Sausage</td>
          </tr>        
          <tr>
            <td width="50%">Mushrooms</td>
          </tr>        
          <tr>
            <td width="50%">Onions</td>
          </tr>       
          <tr>
            <td width="50%">Ham</td>
          </tr>       
          <tr>
            <td width="50%">Canadian Bacon</td>
          </tr>       
          <tr>
            <td width="50%">Pineapple</td>
          </tr>       
          <tr>
            <td width="50%">Eggplant</td>
          </tr>       
          <tr>
            <td width="50%">Tomato &amp; Basil</td>
          </tr>       
          <tr>
            <td width="50%">Green Peppers</td>
          </tr>       
          <tr>
            <td width="50%">Hamburger</td>
          </tr>       
          <tr>
            <td width="50%">Spinach</td>
          </tr>       
          <tr>
            <td width="50%">Artichoke</td>
          </tr>        
          <tr>
            <td width="50%">Buffalo Chicken</td>
          </tr>       
          <tr>
            <td width="50%">Barbecue Chicken</td>
          </tr>       
          <tr>
            <td width="50%">Anchovies</td>
          </tr>       
          <tr>
            <td width="50%">Black Olives</td>
          </tr>       
          <tr>
            <td width="50%">Fresh Garlic</td>
          </tr>       
          <tr>
            <td width="50%">Zucchini</td>
          </tr>     
        </tbody>
    </table>
    <div class="internalmenunav">
      <a href="#regular_pizza">Regular Pizza</a> |
      <a href="#sicilian_pizza">Sicilian Pizza</a> |
      <a href="#toppings">Toppings</a> |
      <a href="#subs">Subs</a> |
      <a href="#pasta">Pasta</a> |
      <a href="#salad">Salad</a> |
      <a href="#dinner">Dinner Platters</a> 
    </div>
    <table width="100%" border=1 class="foodmenu">
      <caption><b><a name="subs">Subs</a></b></caption>
        <tr>
            <td width="50%"><b>Sort</b></td>
            <td width="20%"><b>Size</b></td>
            <td width="20%"><b>Price</b></td>
        </tr>
        {% for item in items %}
        {% if item.name == "Subs" %}
        <form method="post" action="{% url 'menu' %}">
        {% csrf_token %}
        <tr>
          <td width="50%">{{ item.sort }}</td>
          <td width="20%">{{ item.size }}</td>
          <td width="20%">{{ item.price }}$</td>
          <td width="10%">
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="submit" value="Add to cart">
          </td>
        </form>  
        </tr>
        {% endif %}
        {% endfor %}           
    </table>
    <div class="internalmenunav">
      <a href="#regular_pizza">Regular Pizza</a> |
      <a href="#sicilian_pizza">Sicilian Pizza</a> |
      <a href="#toppings">Toppings</a> |
      <a href="#subs">Subs</a> |
      <a href="#pasta">Pasta</a> |
      <a href="#salad">Salad</a> |
      <a href="#dinner">Dinner Platters</a> 
    </div> 
    <table width="100%" border=1 class="foodmenu">
      <caption><b><a name="pasta">Pasta</a></b></caption>
      <tr>
          <td width="50%"><b>Sort</b></td>
          <td width="40%"><b>Price</b></td>
      </tr>
      {% for item in items %}
      {% if item.name == "Pasta" %}
      <form method="post" action="{% url 'menu' %}">
      {% csrf_token %}
      <tr>
        <td width="50%">{{ item.sort }}</td>
        <td width="40%">{{ item.price }}$</td>
        <td width="10%">
          <input type="hidden" name="id" value="{{ item.id }}">
          <input type="submit" value="Add to cart">
        </td>
      </form>   
      </tr>
      {% endif %}
      {% endfor %}           
    </table>
    <div class="internalmenunav">
      <a href="#regular_pizza">Regular Pizza</a> |
      <a href="#sicilian_pizza">Sicilian Pizza</a> |
      <a href="#toppings">Toppings</a> |
      <a href="#subs">Subs</a> |
      <a href="#pasta">Pasta</a> |
      <a href="#salad">Salad</a> |
      <a href="#dinner">Dinner Platters</a> 
    </div> 
    <table width="100%" border=1 class="foodmenu">
      <caption><b><a name="salad">Salads</a></b></caption>
      <tr>
          <td width="50%"><b>Sort</b></td>
          <td width="40%"><b>Price</b></td>
      </tr>
      {% for item in items %}
      {% if item.name == "Salads" %}
      <form method="post" action="{% url 'menu' %}">
      {% csrf_token %}
      <tr>
        <td width="50%">{{ item.sort }}</td>
        <td width="40%">{{ item.price }}$</td>
        <td width="10%">
          <input type="hidden" name="id" value="{{ item.id }}">
          <input type="submit" value="Add to cart">
        </td>
      </form>   
      </tr>
      {% endif %}
      {% endfor %}           
    </table>
    <div class="internalmenunav">
      <a href="#regular_pizza">Regular Pizza</a> |
      <a href="#sicilian_pizza">Sicilian Pizza</a> |
      <a href="#toppings">Toppings</a> |
      <a href="#subs">Subs</a> |
      <a href="#pasta">Pasta</a> |
      <a href="#salad">Salad</a> |
      <a href="#dinner">Dinner Platters</a> 
    </div> 
    <table width="100%" border=1 class="foodmenu">
      <caption><b><a name="dinner">Dinner Platters</a></b></caption>
      <tr>
          <td width="50%"><b>Sort</b></td>
          <td width="20%"><b>Size</b></td>
          <td width="20%"><b>Price</b></td>
      </tr>
      {% for item in items %}
      {% if item.name == "Dinner Platters" %}
      <form method="post" action="{% url 'menu' %}">
      {% csrf_token %}
      <tr>
        <td width="50%">{{ item.sort }}</td>
        <td width="20%">{{ item.size }}</td>
        <td width="20%">{{ item.price }}$</td>
        <td width="10%">
          <input type="hidden" name="id" value="{{ item.id }}">
          <input type="submit" value="Add to cart">
        </td>
      </form>   
      </tr>
      {% endif %}
      {% endfor %}         
    </table>
    <div class="internalmenunav">
      <a href="#regular_pizza">Regular Pizza</a> |
      <a href="#sicilian_pizza">Sicilian Pizza</a> |
      <a href="#toppings">Toppings</a> |
      <a href="#subs">Subs</a> |
      <a href="#pasta">Pasta</a> |
      <a href="#salad">Salad</a> |
      <a href="#dinner">Dinner Platters</a> 
    </div> 

      </div>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>

</div>
{% endblock %}